#directories
bin
build*
CMakeFiles
lib*

#hidden files and directories
.*

#files
*.o
*.obj
*.out
*.res
*.ilk
*.idb
*.pdb
*.log
*.autosave
*.user
*.sdf
*.sln
*.vcxproj
*.filters
*.cmake
*.opendb
Makefile
